@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/quicksand/v9/6xKtdSZaM9iE8KbpRA_hK1QNYuDyPw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    height: 100%;
    background: url(https://assets.dragonbox.no/2019/LoginAccess/background.jpg);
    background-repeat: repeat;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

body {
    margin: auto;
    font-size: 16px;
    font-family: 'Quicksand';
}

h2 {
    font-weight: bold;
    font-size: 180%;
}

.container {
    background-color: white;
    padding: 30px;
    margin: auto;
    margin-top: 5%;
    width: 60%;
}

.container__round-corners {
    border-bottom: 7px solid #CC3E10;
    border-radius: 30px;
}

.game-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
